.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

.divider {
  width: 100%;
  height: 2rem;
  background-color: rgba(0, 0, 0, .1);
  
  /* background-color: red; */
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.container .hero {
  background-color: white;
  margin: 0;
}

.container .hero video {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.container .hero p {
  color: black;
}

.container .hero a {
  background-color: unset;
  text-decoration: none;
  height: 2rem;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 1.5rem;
  font-size: 1.25rem;
  font-weight: bold;
  width: 20%;
  min-width: 14rem;
  border: 3px solid black;
  transition: all ease-in .25s;
  /* margin-top: 2rem; */
  margin: 1rem auto 0 auto;
}

.container .hero a:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.container .about {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container .about video {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.container h2 {
  text-align: center;
  color: white;
}

.container p {
  color: white;
}

.container .services {
  /* background-color: #2b3036; */
  width: 100%;
  height: 400px;
  /* color: black; */
  /* overflow-x: scroll; */
}

.container .carousel {
  height: 500px;
}

.container .white {
  width: 100vw;
  height: 410px;
  background-color: white;
}

.container .serviceCarousel .caption h3{
  color: black;
  text-align: left;
  font-family: 'Anton', sans-serif;
  margin-bottom: 1rem;

}

.container .serviceCarousel .caption li{
  color: black;
  text-align: left;
  margin-bottom: 0;
  font-size: 1.25rem;
}

.container .serviceCarousel .caption{
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container .serviceCarousel .caption a {
  background-color: unset;
  text-decoration: none;
  height: 2rem;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 1.5rem;
  font-size: 1.25rem;
  font-weight: bold;
  width: 20%;
  min-width: 10rem;
  border: 3px solid black;
  transition: all ease-in .25s;
  margin-top: 2rem;
}

.container .serviceCarousel .caption a:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.container .about {
  padding: 2rem 0;
}

.container h2{
  margin-bottom: 2rem;
}

.container button {
  background-color: unset;
  text-decoration: none;
  height: 2rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 1.5rem;
  font-size: 1.25rem;
  font-weight: bold;
  width: 20%;
  min-width: 10rem;
  border: 3px solid white;
  transition: all ease-in .25s;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.container button:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

.container .contact {
  margin-top: 2rem;
  width: 100%;
}

.container .black p{
  color: black;
}

.modal-body p{
  color: black;
}

.container .servicesTitle {
  background-color: white;
  width: 100vw;
}

.container .servicesTitle h2{
  color: black;
  margin-bottom: 0;
  margin-top: 2rem;
}

.container .borderGrad {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to left, #004FCE, #00B7FA);
  padding: 2rem 0;
}

@media only screen and (max-width: 875px) {
  .container .about video {
    width: 100vw;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
  }

  .container .white {
    min-height: 450px;
  }

  .container .services {
    margin-bottom: 2rem;
  }

  .container .serviceCarousel .caption {
    padding: 0;
  }

  .container .serviceCarousel .caption h3{
    text-align: center;
  }

  .container .serviceCarousel .caption li{
    /* text-align: center; */
    font-size: 1rem;
  }

  .container .serviceCarousel .caption a {
    margin-left: auto;
    margin-right: auto;
  }


}
